---
---

//Custom variables
$main-color: #A3F99A;
$sub-color: #52AB49;
$sub-dark-color: #31662B;
$accent-color: #D0FCAF;

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #000;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// start content
.submit-btn{
  color: $text-color;
  background-color: $main-color;
  width: 70px;
  height: 40px;
  box-shadow: 1px 1px 3px 1px black;
  border-radius: 3px;
  border-width: 1px;
  border-color: black;

  &:hover {
    background-color: $sub-color;
    box-shadow: 1px 1px 2px 1px $sub-dark-color;
  }

  &:active {
    color: #1756a9;
    box-shadow: 1px 1px 1px #fff;
  }
}

/*!
 * Start Bootstrap - Freelancer Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

 .floating-label-form-group {
     position: relative;
     margin-bottom: 0;
     padding-bottom: .5em;
     border-bottom: 1px solid #eee;
 }

 .floating-label-form-group input,
 .floating-label-form-group textarea {
     z-index: 1;
     width: 740px;
     position: relative;
     padding-right: 0;
     padding-left: 0;
     border: 0;
     border-radius: 0;
     font-size: 1.5em;
     background: 0 0;
     box-shadow: none!important;
     resize: none;
 }

 .floating-label-form-group label {
     display: block;
     z-index: 0;
     position: relative;
     top: 4em;
     margin: 0;
     font-size: .85em;
     line-height: 1.764705882em;
     vertical-align: middle;
     vertical-align: baseline;
     opacity: 0;
     -webkit-transition: top .3s ease,opacity .3s ease;
     -moz-transition: top .3s ease,opacity .3s ease;
     -ms-transition: top .3s ease,opacity .3s ease;
     transition: top .3s ease,opacity .3s ease;
 }

 .floating-label-form-group-with-value label {
     top: 0;
     opacity: 1;
 }

 .floating-label-form-group-with-focus label {
     color: #000000;
 }
