@import "bootstrap";

$backest : white;
$main-color: #8FE388;
$default-hover-color: #B24C63;

$bigpic-color : $main-color;
$sidebar-color: $bigpic-color;

$post-back-color : $backest;
$post-header-color: $backest;

$slip-color : $main-color;
$post-border-color: lighten($main-color,12%);
$shadow-color : #8F8EFF;
$shadow-circle-color : darken($main-color, 15%);

$main-text-color: black;
$post-header-text-color: $main-text-color;
$post-date-text-color: $default-hover-color;
$post-text-color: lighten($main-text-color,15%);

$link-normal-color: $main-text-color;
$link-hover-color: $default-hover-color;

$read-more-text-color: darken($main-color, 20%);

body{
    background: #eaeaea;
    font-family: 'Roboto', sans-serif;
}
a:hover, .icon-link > a:visited, .icon-link > a:link, .icon-link > a:active{
    text-decoration: none;    
}
a:hover{ 
    color: $post-date-text-color;
}
a>*:hover{
    color:$post-date-text-color;
}

.big-image{
    height: 50px;
    width: 100%;
    border-top: 6px solid $bigpic-color;
    border-radius: 5px;
    background: $backest;
    display: flex;
    box-shadow: 0px 0px 5px $shadow-color;  
}
.big-image > h2{
    margin: 0 auto;
    align-self: center;
    color: $post-text-color;
    font-family: 'Kaushan Script', cursive; 
}

.posts-side{
    margin-top: 5px;
    padding-left: 0;
}
.post-box{
    display: flex;
}
.post-textbox{
    background: $post-back-color;
    border-bottom: 5px solid $post-border-color;
    padding: 10px;
    margin: 5px;
    margin-left: 0;
    box-shadow: 0px 2px 2px $shadow-color;
    color: $post-text-color;
}
.post-header{
    background: $post-header-color;         
    margin-bottom: 5px;    
    color: $post-header-text-color;
    border-bottom: 2px solid $post-border-color;
    border-radius: 4px;
    display: flex;
}
.post-header > h3{
    margin:10px;
    margin-bottom: 5px; 
}
.post-date{
    color: $post-date-text-color;
    align-self: flex-end;
    margin-left: auto;
}
.date-slip{
    display: flex;
    align-self: center;
    width: 90px;
	height: 100px;
	background: $slip-color;
	-webkit-clip-path: polygon(0 30%, 100% 30%, 100% 80%, 0 80%, 30% 55%);
    clip-path: polygon(0 30%, 100% 30%, 100% 80%, 0 80%, 30% 55%);
}
.post-box:hover .date-slip{
    background: $default-hover-color;
}
#post-textsum{
    margin-top: 15px;
}
.read-more{
    color: $read-more-text-color;
    box-shadow: 0px 0px 1px $shadow-color;
}


.side-main{
    border-top: 12px dashed $main-color;
}
.sidebar{    
    background: $sidebar-color;
    padding: 15px;
    color: $post-text-color;
}
.sidebar-circle{
    display: inherit;
    margin: 0 auto;
    border-radius: 50%;
	width: 150px;
	height: 150px; 
    background: $backest;
    box-shadow: 1px 3px 12px $shadow-circle-color;
}
.sidebar-header{
    color: $post-header-text-color;
}

.icon-link{
    margin: 3px;
    margin-left: 0;    
}
.icon-link .ltext {
    color: $link-normal-color;
    display: inline-block;
    text-decoration: none;
}
.icon-link .ltext:hover{
    color:$link-hover-color;
}