---
layout: default
---
<div class="posts-side col-sm-9">
	{% for post in site.posts%}
	<div class="post-box">
		<div class="date-slip"></div>
		<div class="post-textbox  col-sm-12">
			<a href="{{site.baseurl}}{{post.url}}" class="post-header">
				<h3>{{post.title}}</h3>
				<div class="post-date">{{post.date | date: '%m-%d-%Y'}}</div>
			</a>
			<div class="post-text" id="post-textsum">{{post.excerpt}}</div>
			<a href="{{site.baseurl}}{{post.url}}" class="read-more">-Read More-</a>
		</div>
	</div>
	{% endfor%}

</div>
